

@model List<PetShop.LoaiPhuKien>


@foreach (var item in Model)
{
    <li>
        <a class="dropdown-item" href="@Url.Action("PhuKien", "Product", new { id = item.MaLoai })">
            @item.TenLoai
        </a>
    </li>
}